<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
          "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <link rel="shortcut icon"
          href="http://static.akshell.com/main/images/favicon.ico">
    <link rel="stylesheet"
          href="http://static.akshell.com/main/styles/base.css"
          type="text/css">
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
  </head>
  <body>
    <div id="container">
      <div id="header">
        {% block header %}{% endblock %}
        <div id="auth">
          {% block auth %}
            {% if request.user %}
              <a href="http://www.akshell.com/account/">{{ request.user }}</a>
              <a href="{% url 'logout' request.fullPath %}">Log Out</a>
            {% else %}
              <a href="{% url 'login' request.fullPath %}">Log In</a>
              <a href="{% url 'signup' request.fullPath %}">Sign Up</a>
            {% endif %}
          {% endblock %}
        </div>
      </div>
      <div id="content" class="content">
        {% block content %}{% endblock %}
      </div>
      <div id="push-footer"></div>
    </div>
    <div id="footer">
      <a href="http://blog.akshell.com/Anton-Korenyushkin/">Blog</a>
      |
      <a href="http://twitter.com/akshell_com">Twitter</a>
      |
      <a href="mailto:support@akshell.com">Support</a>
      |
      <a target="_blank" href="http://www.google.com/talk/service/badge/Start?tk=z01q6amlqgapp5ghvllcjgg6bpl5nh8nmnm19n8du7t65i2cvcggt6gmeddeugth9g4nhq07s1ps08hv74lpoukjhublrui0huedl472efjbapnfdma36p9lhkmjogqk8cco1sdp00gt3kaftlmoo5oamb2n71vgb6h0g4c87" onclick="window.open('http://www.google.com/talk/service/badge/Start?tk\x3dz01q6amlqgapp5ghvllcjgg6bpl5nh8nmnm19n8du7t65i2cvcggt6gmeddeugth9g4nhq07s1ps08hv74lpoukjhublrui0huedl472efjbapnfdma36p9lhkmjogqk8cco1sdp00gt3kaftlmoo5oamb2n71vgb6h0g4c87', '', 'status=0,scrollbars=0,menubar=0,statusbar=0,location=0,resizable=1,width=300,height=500'); return false">Live Chat</a>
      |
      <a href="http://www.akshell.com/about/terms/">Terms of Service</a>
      |
      <a href="http://www.akshell.com/about/privacy/">Privacy Policy</a>
      |
      &copy; 2010 by Anton Korenyushkin
    </div>
  </body>
</html>
